<VirtualHost *:{{ app_port }}>
    WSGIDaemonProcess {{ app_name  }} user=www-data group=www-data threads=5 python-home={{ venv_dir }}
    WSGIScriptAlias / {{ web_dir }}/{{ app_name  }}.wsgi

    <Directory {{ web_dir }}>
        WSGIProcessGroup {{ app_name }}
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>
</VirtualHost>