<VirtualHost *:{{ app_port }}>
    WSGIDaemonProcess {{ app_name  }} user=www-data group=www-data threads=5 python-home={{ wsgi_dir }}/venv
    WSGIScriptAlias / {{ wsgi_dir }}/{{ app_name  }}.wsgi

    <Directory {{ wsgi_dir }}>
        WSGIProcessGroup {{ app_name }}
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>
</VirtualHost>